.DS_Store
template/node_modules
template/www/dist/build.js
template/www/dist/build.css
template/yarn-error.log
template/npm-debug.log
template/karma.conf.js
template/eslintrc-original

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
